doctype html
html
  head
    title=Alaris
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet/less', href='/css/style.css')
    link(rel='stylesheet', href='/js/lib/vendor/tagselector/styles/token-input.css')
    link(rel="stylesheet", href="css/bootstrap.css")
    script(type='text/javascript', src='js/lib/vendor/jquery-1.11.0.js')
    script(type='text/javascript', src='js/lib/vendor/knockout-3.0.0.debug.js')
    script(type='text/javascript', src='js/lib/vendor/knockout.wrap.js')
    script(type='text/javascript', src='js/lib/vendor/tagselector/src/jquery.tokeninput.js')
    script(type='text/javascript', src='js/lib/vendor/ckeditor/ckeditor.js')
    script(type='text/javascript', src='js/lib/vendor/inheritance.js')
    script(type='text/javascript', src='js/bindings.js')
    script(type='text/javascript', src='js/base.js')
    script(type='text/javascript', src='js/client.js')
  body
    block header
    block content
    div#app
    script(src="js/bootstrap.min.js")