{{define "index.html"}}
<!doctype html>
<html>
<head>
	<title>{{.Title}}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/css/faviconmiddle.png">
	<link rel="stylesheet" href="/css/style.css">

	<meta name="admin" content="{{.Admin}}">
	<meta name="offsetStart" content="{{.OffsetStart}}">
	<meta name="eras" content="{{.Eras}}">

	<script type="text/javascript" src="/dist/vendor-base.js"></script>
	<script type="text/javascript" src="/js/base.js"></script>
	<script type="text/javascript" src="/js/client.js"></script>

	{{if .Admin}}
	<link rel="stylesheet" href="/dist/vendor-admin-css.css">
	<script type="text/javascript" src="/dist/vendor-admin.js"></script>
	<script type="text/javascript" src="/js/is-public.js"></script>
	<script type="text/javascript" src="/js/admin.js"></script>
	{{end}}
</head>
<body>
	<div class="bgfader">&nbsp;</div>
	<header id="index" class="div col-md-3 col-md-offset-9">
		<div><a href="/">{{.Title}}</a></div>
		<div class="tagline">{{.Tagline}}</div>
	</header>
	<section class="searchbox">
		<a class="trigger" onclick="$(this).hide().parent().children('.searchboxbuttons').show(); $('.lookfor').focus()"></a>
		<div class="searchboxbuttons" style="display:none;">
			<input class="lookfor" onblur="setTimeout(function(){$('.searchbox').children('a.trigger').show(); $('.searchboxbuttons').hide()},500)">
			<div class="yearpicker">
				{{range .YearLinks}}
				<a onclick="toYear(this, {{.Offset}})" data-year="{{.Year}}">{{.Year}}</a>
				{{end}}
			</div>
		</div>
	</section>

	<section class="nav">
		<div id="actualyear"></div>
		<div class="clear"></div>
		<div id="actualmonth"></div>
		<div class="clear"></div>
		<div id="actualday"></div>
		<div class="clear"></div>
		<div id="eratags">
			{{if .Admin}}
			<div class="new"><span class="clickable" onclick="newTag()">+</span></div>
			<div class="new"><span class="clickable" onclick="listTags()">...</span></div>
			{{end}}
		</div>
	</section>

	<section class="footer">
		<div id="tmp">
			<a title="{{.FooterTitle}}" href="{{if .Admin}}/{{else}}/all{{end}}">{{.Footer}}</a>
		</div>
	</section>

	{{if .Admin}}
	<div class="hidden-switch" onclick="hiddenSwitch()">Hide Hidden</div>
	<div class="rnd-button" onclick="getRnd()">RND</div>
	<section class="editor-wrapper hidden">
		<div id="editor">
			<h3>
				<button class="save-entry" onclick="saveEntry()">✔</button>
				<input id="title" class="col-md-12" data-bind="value: title" placeholder="Title">
			</h3>
			<div class="text-editor-wrapper">
				<textarea id="body" class="col-md-12"></textarea>
			</div>
			<input id="tags" class="col-md-8" placeholder="tags with comma separation...">
			<input id="topic" class="col-md-2">
			<span class="col-md-1"><button id="add-file">F</button></span>
			<span class="col-md-1"><button class="discard" onclick="discardEntry()" title="Discard">×</button></span>
		</div>
	</section>
	<div id="tag-editor">
		<input id="tag-name" placeholder="Tagname">
		<input id="tag-background" placeholder="background image">
		<button onclick="tagImageFromList()">F</button>
		<input id="tag-start" placeholder="era start date">
		<input id="tag-end" placeholder="era end date">
		<button onclick="saveTag()">✔</button>
		<button class="discard-tag" onclick="discardTag()">×</button>
		<button class="delete-tag" onclick="deleteTag()">DELETE</button>
	</div>
	<div id="file-list" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">Pick a file to insert<br>
					<input id="file-filter" onkeydown="filterFileList(event)">
				</div>
				<div class="modal-body"><div class="list"></div></div>
				<div class="moda-footer">
					<div class="preview col-md-12" onclick="pickerCallback()"></div>
				</div>
			</div>
		</div>
	</div>
	<section id="new-post" class="container-fluid">
		<article class="row">
			<div class="col-md-6 col-md-offset-3 entry" id="new-entry">
				<h3><a class="new" onclick="addPost()">+</a></h3>
			</div>
		</article>
		<article class="entry-stub row entry-wrapper hidden">
			<div class="col-md-6 col-md-offset-3 entry">
				<div class="isactual"><a href="#"><i class="glyphicon glyphicon-asterisk"></i></a></div>
				<div class="content">
					<h3 class="title clickable" onclick="edit(this)"></h3>
					<span class="peek body"></span>
				</div>
				<div class="grade gradeq noselect">0</div>
				<div class="control noselect">
					<div class="topq noselect">
						<a class="ctrl top-toggler" onclick="toggleTop(this)">
							<span class="top glyphicon glyphicon-star-empty"></span>
						</a>
					</div>
					<span class="topicq">T <span class="topic"></span></span>
					<span class="grade-wrapper">
						<a class="ctrl" onclick="rate(this, 1)">▲</a>
						<span class="grade"></span>
						<span class="min-to-visible"></span>
						<a class="ctrl" onclick="rate(this, -1)">▼</a>
					</span>
				</div>
			</div>
			<div class="col-md-1 tags"><div class="tagscontainer"></div></div>
		</article>
	</section>
	{{end}}

	<section id="entries" class="container-fluid">
		{{if .Entries}}
			{{template "part.html" .}}
		{{else}}
			<div>no entries found</div>
		{{end}}
	</section>
</body>
</html>
{{end}}
